.xyz{
    color: green;
    font-size: 40px;
  }
  .xyz2{
    color: red;
    font-size: 20px;
  }

  /* h1{
    color: yellow;
    font-size: 70px;
    background-color: black;
  } */

.test-line-height{
  line-height: 100px;
}